.App {
  text-align: center;
}
.word-box {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: 0.3s all;
}
.word-box:hover {
  background-color: #cecece;
}

.word-box-remove {
  background-color: #ffe1e1;
  transition: 0.3s all;
}
.word-box-remove:hover {
  background-color: #ffadad;
}
