@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&family=Knewave&display=swap");
.App {
  text-align: center;
  background-color: #fff7d53d;
  height: 100vh;
  padding-top: 20px;
}

.word-box {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  background-color: #eeeeee;
  cursor: pointer;
  transition: 0.3s all;
}
.word-box:hover {
  background-color: #cecece;
}

.word-box-remove {
  background-color: #ffe1e1;
  transition: 0.3s all;
}
.word-box-remove:hover {
  background-color: #ffadad;
}
.title h1 {
  font-size: 50px;
  font-family: "Shizuru", cursive;
  color: #494949;
  margin: 0px;
  background: #fceabb;
  background: -webkit-linear-gradient(
    to right,
    #fceabb 0%,
    #fccd4d 50%,
    #f8b500 51%,
    #fbdf93 100%
  );
  background: -moz-linear-gradient(
    to right,
    #fceabb 0%,
    #fccd4d 50%,
    #f8b500 51%,
    #fbdf93 100%
  );
  background: linear-gradient(
    to right,
    #fceabb 0%,
    #fccd4d 50%,
    #f8b500 51%,
    #fbdf93 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* -webkit-text-stroke: 1px rgba(8, 8, 8, 0.342);  */
}
.title h3 {
  /* margin: 0px; */
  color: #bb8f2f;
}
.text-area {
  width: 70%;
  height: 250px;
  resize: none;
  border: 2px solid rgb(189, 189, 189);
  border-radius: 10px;
  padding: 10px;
  font-size: 26px;
  color: #575757;
  font-family: "Poppins", sans-serif;
}
.controls {
  display: inline-flex;
  justify-content: space-between;
  width: 70%;
  margin: 10px;
  /* border: 1px solid rgb(235, 235, 235); */
  border-radius: 10px;
  padding: 10px;
}
.fontSize-slider {
  width: 100px;
  margin: 0 10px;
  font-size: 13px;
  font-weight: 500;
}

/* button style */
.btn-group button {
  margin: 0px 5px;
}

/* Fill button styling */
.fill {
  font-size: 17px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 40px 10px;
  outline: 0;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.fill::after {
  content: "";
  background-color: #ffe54c;
  border-radius: 5px;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}
.fill2 {
  font-size: 17px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 40px 10px;
  outline: 0;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.fill2::after {
  content: "";
  background-color: #66f2d5;
  width: 100%;
  border-radius: 5px;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill2:hover::after {
  top: 0px;
  left: 0px;
}
/* End of Fill Button  */

.switch-controls-div {
  display: inline-flex;
  justify-content: space-between;
  margin: 10px;
  font-weight: 500;
}
.switch-controls-div div {
  vertical-align: middle;
}
.switchControls {
  margin-right: 10px;
}
.switchControls span {
  margin: 5px;
}

.fontSize-slider {
  width: 180px;
  margin: 0 10px;
}

.output-container {
  /* width: 70%; */
  margin: 10px 100px;
}
.container {
  /* background-color: #fffcf0; */
}
.hr-line {
  width: 75%;
  border-color: #e4e4e441;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1d534;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b8a228;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.popup-emoji-container {
  display: inline-flex;
  font-size: 25px;
  justify-content: space-between;
  cursor: pointer;
  padding: 2px;
}
.popup-emoji-search {
  width: 92%;
  border: 1px solid #6e6e6e93;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}
